* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html a {
    text-decoration: none;
    color: white;
}

/* header */


/* top */
header .header_content .left_content a {
    padding:0 10px;
    font-size: 15px;
    font-weight: 400;
}

header .header_content .right_content a {
    padding: 15px;
    width: 50px;
    font-size: 13px;
}

header .header_content span,
header .header_content i {
    transition: all .3s;
}

header .header_content .left_content a:hover span,
header .header_content .right_content a:hover i {
    color: #FF6961;
}

/* body */
header .header_body {
    width: 100%;
    background-color: black;
    color: #e6ebff;
    z-index: 9;
    padding: 10px 16px;
}

.header_body .navbar .navbar-brand {
    font-size: 26px;
    color: #0d369f;
    display: flex;
    align-items: center;
}

.header_body .collapse .nav-item .nav-link {
    padding: 6px 0;
    margin-right: 30px;
    font-weight: 600;
    font-size: 16px;
    color: white;
}

.header_body .collapse .nav-item .nav-link::after {
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    background-color: #EA6259;
    transition: all .3s;
}

.header_body .collapse .nav-item.active .nav-link {
    color: #EA6259;
}

.header_body .menu_search .search_in {
    background-color: unset;
    border-radius: 50px;
    padding: 10px 15px;

}

.header_body .collapse .menu_search .search_bt {
    position: absolute;
    right: 10px;
    top: 3px;
    color: blue;
    transition: all .3s;
}

header .header_body .collapse .bt_theme .dark_icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -43%);
  padding-left: 10px;
  cursor: pointer;
  opacity: 0;
}

header .header_body .collapse .bt_theme .light_icon{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -52%);
  padding-left: 10px;
  cursor: pointer;
  opacity: 1;
}

header .header_body .collapse .bt_theme .light_icon.hide_theme{
  opacity: 0;
}

header .header_body .collapse .bt_theme .dark_icon.show_theme{
  opacity: 1;
}

header .header_body .navbar span {
    transition: all .3s;
}

header .header_body .navbar a:hover span,
.header_body .collapse .menu_search .search_bt:hover,
.header_body .collapse .dropdown-menu .dropdown-item:hover {
    color: #EA6259;
}

.stickybody {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 15px !important;
    z-index: 9999;
}


/* menu side */
header .menu_side {
  position: fixed;
  right: 0;
  background-color: #0A0F1E;
  border-radius: 10px 0 0 10px;
  padding: 30px 10px 10px;
  text-align: center;
  color: #e6ebff;
  z-index: 9;
  cursor: pointer;
  transition: all .5s;
}

header .menu_side .back_items {
  text-align: center;
  padding:10px 15px ;
  transition: all .5s;
}

header .menu_side .contact_items {
  border-top: 3px solid whitesmoke;
  padding-top: 30px;
}

header .menu_side .back_items.show_item{
  display: inline-block;
  transform: translateX(-90px);
  background-color: #0A0F1E;
  border-radius: 50%;
}

header .menu_side.hide_item{
  transform: translateX(95px);
}

.stickyside {
  position: fixed;
  top: 15%;
  z-index: 9999;
}

/* banner */
.banner {
    background-image: url(../img/bg4.jpg);
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .hoco{
  color: rgba(255, 255, 255, 0.718);
  transition: all .5s;
}

.banner .hoco:hover{
  color: white;
}

/* contact */
.address .contact_item .address_title p{
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 8px;
  font-weight: 650;
}

.address .contact_item .address_title a{
  color: #070707;
  font-size: 17px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

/* question */
.question .main_title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
}

.question .main_title::before {
  content: "";
  background: silver;
  width: 60px;
  height: 3px;
  position: absolute;
  right: 0;
  margin: 0 auto;
  left: -20px;
  bottom: -8px;
}

.question .main_title::after {
  content: "";
  background: silver;
  width: 60px;
  height: 3px;
  position: absolute;
  right: 0;
  margin: 0 auto;
  left: 20px;
  bottom: -15px;
}

.question .form-control{
  padding: 12px 10px !important;
}

.question .btn{
  color: white;
  background-color: red ;
  transition: all .5s;
}

.question .btn:hover{
  background-color: #0d369f;
}

.question .form-control:focus {
  border-color: red;
  box-shadow: none;
}

/* footer */

footer .footer_title h3{
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
}

footer .footer_title p{
    font-size: 15px;
}

footer .footer_title input{
    padding: 15px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    /* flex:  auto; */
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #fff;
    width: 80%;
    transition: all 0.3s;
}

footer .footer_title  button {
    padding: 10px 35px;
    font-size: 20px;
    line-height: 20px;
    border-color: transparent;

    border-radius: 0 0.5rem 0.5rem 0;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}

footer .footer_content h5{
    padding: 10px 0;
    font-size: 16px;
    border-bottom: 1px solid #A1998D;
    margin-bottom: 20px;
}

footer .footer_content ul{
    padding: 0;
}

footer .footer_content li {
  list-style: none;
  padding: 10px 0;
}

footer .footer_content li span,
footer .footer_content li a {
  cursor: pointer;
  color: rgb(255, 255, 255);
  transition: all .5s;
}

footer .footer_content .footer_list i {
  font-size: 10px;
  line-height: 10px;
  padding-right: 5px;
}

footer .footer_content .footer_contact i {
  font-size: 20px;
  padding-right: 20px;
}

footer .footer_content .footer_about i {
  font-size: 15px;
  padding: 12px;
  margin-right: 5px;
  background-color: #12192A;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.881);
  transition: all .5s;
  cursor: pointer;
}

footer .footer_content li:hover span,
footer .footer_content li:hover a,
footer .footer_content .footer_about i:hover {
  color: rgba(255, 255, 255, 0.722);
}

/* backtotop */
.back_top {
    position: fixed;
    bottom: 50px;
    right: 20px;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
}

.back_top i {
    color:white;
    background: blue;
    border-radius: 10px;
    width:40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 13px;

}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}